.git
.vercel
**/node_modules
**/.dart_tool
**/.gradle
**/Pods
**/dist
**/preview-data
**/.env
**/.env.*
!**/.env.example
**/key.properties
**/local.properties
**/*.jks
**/*.keystore
**/*.p12
**/*.mobileprovision
**/build/app
**/build/ios
